# Group Project 22

*Group Members: Angelique Clara Hanzell, Jack Parkinson, Edward Liang, Vamsi Nadella*

## Question

We are trying to see whether or not a person was tased before being shot based on factors like race and threat level.

WHAT TA GAVE US:
group by race and threat_level and find proportion of being shot/shot and tased. Then, analyze the proportions to see if they differ (racism) or not (no racism)

In [4]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [5]:
ShootingData <- read.csv('https://github.com/washingtonpost/data-police-shootings/releases/download/v0.1/fatal-police-shootings-data.csv')

head(ShootingData)

  id name               date       manner_of_death  armed      age gender race
1  3 Tim Elliot         2015-01-02 shot             gun        53  M      A
2  4 Lewis Lee Lembke   2015-01-02 shot             gun        47  M      W
3  5 John Paul Quintero 2015-01-03 shot and Tasered unarmed    23  M      H
4  8 Matthew Hoffman    2015-01-04 shot             toy weapon 32  M      W
5  9 Michael Rodriguez  2015-01-04 shot             nail gun   39  M      H
6 11 Kenneth Joe Brown  2015-01-04 shot             gun        18  M      W
  city          state signs_of_mental_illness threat_level flee
1 Shelton       WA    True                    attack       Not fleeing
2 Aloha         OR    False                   attack       Not fleeing
3 Wichita       KS    False                   other        Not fleeing
4 San Francisco CA    True                    attack       Not fleeing
5 Evans         CO    False                   attack       Not fleeing
6 Guthrie       OK    False                   attack       Not fleeing
  body_camera longitude latitude is_geocoding_exact
1 False       -123.122  47.247   True
2 False       -122.892  45.487   True
3 False        -97.281  37.695   True
4 False       -122.422  37.763   True
5 False       -104.692  40.384   True
6 False        -97.423  35.877   True